main.o: ./main.c batch.h desk.h environm.h error.h events.h font.h \
 open.h resource.h mintdesk.h version.h xfilesys.h dir.h edit.h file.h \
 filetype.h icon.h prgtype.h screen.h window.h applik.h icontype.h
resource.o: ./resource.c desk.h resource.h mintdesk.h version.h \
 xfilesys.h window.h
window.o: ./window.c desk.h error.h events.h resource.h mintdesk.h \
 xfilesys.h dir.h edit.h file.h filetype.h icon.h prgtype.h viewer.h \
 window.h applik.h
icon.o: ./icon.c copy.h desk.h error.h events.h resource.h mintdesk.h \
 open.h showinfo.h slider.h xfilesys.h dir.h file.h icon.h screen.h \
 viewer.h window.h applik.h
edit.o: ./edit.c desk.h mintdesk.h error.h xfilesys.h edit.h window.h \
 applik.h file.h prgtype.h
copy.o: ./copy.c desk.h copy.h error.h events.h printer.h resource.h \
 mintdesk.h xfilesys.h file.h window.h applik.h
printer.o: ./printer.c desk.h resource.h mintdesk.h printer.h error.h \
 xfilesys.h window.h file.h events.h
applik.o: ./applik.c desk.h error.h resource.h mintdesk.h startprg.h \
 xfilesys.h file.h prgtype.h window.h applik.h vaproto.h
prgtype.o: ./prgtype.c desk.h error.h resource.h mintdesk.h slider.h \
 xfilesys.h file.h prgtype.h window.h
icontype.o: ./icontype.c desk.h error.h resource.h mintdesk.h slider.h \
 xfilesys.h file.h icon.h prgtype.h window.h icontype.h
filetype.o: ./filetype.c desk.h error.h resource.h mintdesk.h slider.h \
 xfilesys.h file.h filetype.h window.h
screen.o: ./screen.c desk.h mintdesk.h error.h xfilesys.h screen.h
showinfo.o: ./showinfo.c desk.h error.h resource.h mintdesk.h \
 showinfo.h xfilesys.h icon.h file.h window.h
font.o: ./font.c desk.h resource.h mintdesk.h xfilesys.h screen.h \
 slider.h error.h font.h
batch.o: ./batch.c desk.h mintdesk.h error.h xfilesys.h batch.h file.h
environm.o: ./environm.c environm.h
startprg.o: ./startprg.c desk.h environm.h error.h events.h resource.h \
 mintdesk.h xfilesys.h file.h icon.h screen.h startprg.h window.h
file.o: ./file.c desk.h mintdesk.h error.h xfilesys.h file.h prgtype.h
viewer.o: ./viewer.c desk.h error.h font.h resource.h mintdesk.h \
 xfilesys.h screen.h viewer.h window.h
dir.o: ./dir.c desk.h xfilesys.h dir.h error.h events.h file.h \
 filetype.h font.h icon.h resource.h mintdesk.h screen.h showinfo.h \
 window.h copy.h icontype.h open.h
open.o: ./open.c desk.h error.h open.h printer.h resource.h mintdesk.h \
 xfilesys.h dir.h edit.h file.h viewer.h window.h applik.h
events.o: ./events.c desk.h events.h
slider.o: ./slider.c desk.h events.h slider.h
sprintf.o: ./sprintf.c
malloc.o: ./malloc.c malloc.h
xfilesys.o: ./xfilesys.c desk.h error.h mintdesk.h xfilesys.h
error.o: ./error.c mintdesk.h error.h
vaproto.o: ./vaproto.c vaproto.h
